<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Issue Relationships</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="pull-right" routerLink="/issuerelationships-create"><i class="fa fa-plus"></i> Add New Record</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
        [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="issue" title="Issue">
        </kendo-grid-column>
        <kendo-grid-column field="relatedIssue" title="Related Issue">
        </kendo-grid-column>
        <kendo-grid-column field="dateRelated" title="Date Related" width="180" filter="date">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.dateRelated | date:'dd/MM/yyyy'}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="" width="180">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button (click)="edit(dataItem.id)" class="k-button"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
            <button (click)="delete(dataItem.id)" class="k-button"><i class="fa fa-trash"></i>&nbsp;Remove</button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </div>
</div>