<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Issue Types</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="pull-right" routerLink="/issuetypes-create"><i class="fa fa-plus"></i> Add New Record</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input [(ngModel)]="filterQuery" id="search" type="text" class="form-control" placeholder="Search..." aria-label="Search...">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3 col-sm-6" *ngFor="let model of models | issuetypesearchfilter: filterQuery">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">
            {{model.code}}
          </h4>
          <hr>
          <h6>Code: {{model.code}}</h6>
          <h6>Description : {{model.description}}</h6>
          <hr>
          <a  routerLink="/issuetypes-edit/{{model.id}}" class="card-link text-success"><i class="fa fa-pencil"></i> Edit</a>
          <a href="" (click)="delete($event,model.id)" class="card-link text-danger"><i class="fa fa-trash"></i> Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>